USE [Test1]
GO
/****** Object:  Table [dbo].[lOGIN]    Script Date: 02/09/2011 11:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lOGIN](
	[LOGIN_ID] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[USER_ID] [nchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PASSWORD] [nchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[USER_TYPE] [nchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_lOGIN] PRIMARY KEY CLUSTERED 
(
	[LOGIN_ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
