USE [Test1]
GO
/****** Object:  Table [dbo].[SUBJECT]    Script Date: 01/20/2011 13:32:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBJECT](
	[SUB_ID] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SUB_NAME] [nchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SUB_DESCRIPTION] [nchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_SUBJECT] PRIMARY KEY CLUSTERED 
(
	[SUB_ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
